body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #fdeee1;
    color: #7a4a2e;
}

.navbar {
    position: sticky;
    top: 0;
    background: #c98b5f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.section {
    padding: 60px 40px;
}

.hero {
    text-align: center;
    background: #fff3e6;
}

.hero-img {
    width: 150px;
}

.btn, button {
    background: #c98b5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.product-card {
    background: #fff3e6;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    background: #fff3e6;
    border-radius: 15px;
    padding: 30px;
    margin: 40px;
}

/* SPECIAL CUSTOMIZED CAKES CARD */
.special-card {
    grid-column: 1 / -1;
    width: 420px;
    justify-self: center;
    margin-top: 20px;
}


textarea {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    padding: 10px;
}


.cart-box {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 280px;
    background: #fff3e6;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    display: none;
    z-index: 9999;
}

.cart-box ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.cart-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fde7d6;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 14px;
}

.cart-text {
    flex: 1;
}

.remove-btn {
    background: none;
    border: none;
    color: #8b0000;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-btn:hover {
    transform: scale(1.2);
}

.toast {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #c98b5f;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    display: none;
    z-index: 9999;
    font-size: 14px;
}

/* FEEDBACK */
#feedback {
    text-align: center;
    margin: 60px auto;
}

#feedback textarea {
    width: 300px;
    padding: 10px;
    border-radius: 6px;
}

#feedback button {
    padding: 8px 15px;
    background: #c98b5f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
